#sidebar:focus,
#main:focus {
    border: none !important;
    outline: none;
}

.sidebar {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
    padding-left: 10px;
    background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEAEA), -webkit-linear-gradient(left, #EAEAEA, #EAEAEA 97%, #DDDDDD);
    z-index: 20;
    width: 340px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    background: #fff;
    float: left;
    padding-bottom: 20px;
    margin-left: 350px;
    min-height: 100%;
}

.servicesHeader{
	font-size:150%;
	line-height: 20px;
}

.serviceLink{
	font-size:200%;
	margin-top:20px;
}
