<!DOCTYPE html>
<html ng-app ng-csp="">
<head>
    <meta charset="utf-8"/>
    <title>Thrift Shop</title>
    <link rel="stylesheet" type="text/css" href="css/angular-csp.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>

<body ng-controller="ThriftShopCtrl">


<div class='sidebar'>
	<h3>ThriftShop</h3>
	<div class='servicesHeader'>Services  <a href="#"><img src="img/folder_plus.png" style="width:20px; height:20px; position:relative; top:-3px; left:13px;"/></a></div>
	<div class='serviceLink' ng-repeat='service in services'>
		<a ng-click='setSelected(service)'>{{service.name}}</a>
	</div>
</div>


<div class='main'>
	<div class='documentation' ng-hide='currentFunction'>
		<div class='programTitle'>{{currentService.name}}</div>
		{{currentService.doc}}
		<h3>services</h3>
		<div ng-repeat='service in currentService.services'>
			<span class='name'>{{service.name}}</span><br/>
			{{service.doc}}
			<div class='function' ng-repeat='function in service.functions'>
				{{function.returnType}} <a href='#' ng-click='test_function(function,service)'><span class='name'>{{function.name}}</span></a>(
				<span ng-repeat='arg in function.arguments'> {{arg.index}}: {{arg.type}} {{arg.name}},</span>)
			</div>
		</div>
		<h3>typedefs</h3>
		<div class='typedef' ng-repeat='typedef in currentService.typedefs'>
			<span class='name'>{{typedef.name}}</span> - 
			<span>{{typedef.type}}</span><br/>
			{{typedef.doc}}
		</div>
		<h3>enums</h3>
		<div class='enum' ng-repeat='enum in currentService.enums'>
			<span class='name'>{{enum.name}}</span>
			<br/>{{enum.doc}}
			<div class='enumMember' ng-repeat='member in enum.members'>
				{{member.value}} - <span class='name'>{{member.name}}</span> {{member.doc}}
			</div>
		</div>
		<h3>structs</h3>
		<div class='struct' ng-repeat='struct in currentService.structs'>
			<span class='name'>{{struct.name}}</span><br/>
			{{struct.doc}}
			<div class='field' ng-repeat='field in struct.fields'>
				{{field.index}} - <span class='name'>{{field.name}}</span>({{field.type}})
			</div>
			<hr/>
		</div>
		
	</div>
	<div class='tester' ng-show="currentFunction">
		<div class='programTitle'><a href="#" ng-click='currentFunction=null'><img src='img/Back_Arrow.png' height="42" width="42"></img> {{currentService.name}}</a></div>
		<div class='functionTitle'>{{currentService.name}}.{{currentFunction.name}}
			(<span ng-repeat='arg in currentFunction.arguments'>{{arg.type}} {{arg.name}},</span>)
		</div>
		<div class='arguments'>
			Arguments:
			<div ng-hide='currentFunction.arguments.length'>
				No arguments
			</div>
			<div id='argWrapper'>
			
			</div>
		</div>
		<button type="submit" class="btn btn-primary invokeButton" ng-click='invoke()'>Invoke</button>
	</div>
</div>




<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/thrift.js"></script>
<script type="text/javascript" src="js/dynamicThrift.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>