<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8"/>
    <title>Thrift Shop</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-modal.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>

<body ng-controller="ThriftShopCtrl">


<div class='sidebar'>
	<h3>ThriftShop</h3>
	<div class='servicesHeader'>Services  <a href="#"><img src="img/folder_plus.png" style="width:20px; height:20px; position:relative; top:-3px; left:13px;"/></a></div>
	<div class='serviceLink' ng-repeat='service in services'>
		<a ng-click='setSelected(service)'>{{service.name}}</a>
	</div>
</div>


<div class='main'>
	<h2>{{currentService.name}}</h2>
	{{currentService.doc}}
	<h3>typedefs</h3>
	<div ng-repeat='typedef in currentService.typedefs'>
		<span class='typedef-name'>{{typedef.name}}</span> - 
		<span class='typedef-type'>{{typedef.type}}</span>
	</div>
	<h3>enums</h3>
	<div ng-repeat='enum in currentService.enums'>
		<span class='enum-name'>{{enum.name}}</span>
	</div>
	<h3>structs</h3>
	<div ng-repeat='struct in currentService.structs'>
		<span class='struct-name'>{{struct.name}}</span>
	</div>
	<h3>services</h3>
	<div ng-repeat='service in currentService.services'>
		<span class='service-name'>{{service.name}}</span>
	</div>
	
</div>




<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>